<h1><%= @house.name %></h1>
<ul>
  <li>Exterior Color: <%= @house.exterior_color %></li>
  <li>Trim Color: <%= @house.trim_color %></li>
  <li>House Created On: <%= @house.created_at.to_fs(:long) %></li>
  <li>Last Updated: <%= @house.updated_at.to_fs(:long) %></li>
</ul>