<h1>Ownership Number: <%= @home_ownership.id %></h1>

<ul>
  <li>Home Owner: <%= link_to "#{@home_ownership.person.first_name}", person_path(@home_ownership.person) %></li>
  <li>Home Name: <%= link_to "#{@home_ownership.house.name}", house_path(@home_ownership.house) %></li>
</ul>

<div>
   <%= link_to "Update Ownership?", edit_home_ownership_path(person_id: @home_ownership.person.id, house_id: @home_ownership.house.id) %> | <%= link_to "Delete this Home Ownership?", home_ownership_path(@home_ownership), data: { turbo_method: :delete, turbo_confirm: "You sure you want to delete Ownership ##{@home_ownership.id}'s records?! "} %>
</div>